#
RewriteEngine on
# RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt)$ [NC]
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

#ErrorDocument 404 http://localhost/mylocalhook/

DirectoryIndex init_default.php
RewriteRule login init_default.php?param=login [NC,L]

RewriteRule app/aboutUs init_aboutUs.php [NC,L]
RewriteRule app/services init_services.php [NC,L]
RewriteRule app/howItWorks init_howItWorks.php [NC,L]
RewriteRule app/authentication init_auth.php [NC,L]
RewriteRule app/contactUs init_contactUs.php [NC,L]

RewriteRule validate/([^/]+)$ backend/php/dac/controller.authentication.php?action=UPDATE_EMAIL_VALIDATED&account_Id=$1 [NC,L]

RewriteRule app/admin/dashboard backend/users_admin/index.php [NC,L]

RewriteRule app/students/dashboard backend/users_students/index.php [NC,L]
RewriteRule app/students/manageOrders backend/users_students/manageOrders.php [NC,L]
RewriteRule app/students/profile backend/users_students/user_profile.php [NC,L]


RewriteRule app/liveSupport/dashboard backend/users_livesupport/index.php [NC,L]

RewriteRule ([^/]+)/styles/([^/]+)$ styles/$2 [NC,L]
RewriteRule ([^/]+)/styles/([^/]+)/([^/]+)$ styles/$2/$3 [NC,L]

RewriteRule ([^/]+)/datatables/js/([^/]+)$ backend/vendor/datatables/js/$2 [NC,L]

RewriteRule ([^/]+)/js/([^/]+)$ js/$2 [NC,L]
RewriteRule ([^/]+)/js/([^/]+)/([^/]+)$ js/$2/$3 [NC,L]
RewriteRule ([^/]+)/js/([^/]+)/([^/]+)/([^/]+)$ js/$2/$3/$4 [NC,L]


RewriteRule ([^/]+)/admin/([^/]+)$ admin/$2 [NC,L]
RewriteRule ([^/]+)/admin/([^/]+)/([^/]+)$ admin/$2/$3 [NC,L]
RewriteRule ([^/]+)/admin/([^/]+)/([^/]+)/([^/]+)$ admin/$2/$3/$4 [NC,L]
RewriteRule ([^/]+)/images/([^/]+)$ images/$2 [NC,L]
RewriteRule ([^/]+)/images/([^/]+)/([^/]+)$ images/$2/$3 [NC,L]
RewriteRule ([^/]+)/fonts/([^/]+)$ fonts/$2 [NC,L]

